<form id="addTodo">
  <input id="todo_title" type='text' name="todo[title]" placeholder="add todos here">
  <input id="todo_desc" type='text' name="todo[description]" placeholder="add description">
  <button id="add">ADD</button>
</form>
